:root{
    --primary-color:white;
    --secondary-color:rgb(3, 3, 99);
    --tetiary-color:grey;
    --primary-border-color: rgb(228, 226, 226);
    --secondary-border-color:white;
    --primary-font-color:grey;
    --secondary-font-color:white;
    --primary-gradient:radial-gradient(circle, rgba(171,173,173,1) 11%, rgba(88,85,85,1) 88%);
    --secondary-gradient:radial-gradient(circle, rgb(39, 56, 114) 2%, rgb(3, 3, 99, 1) 98%);
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color:var(--primary-font-color);
    box-sizing: border-box;
    /* width: 100vw; */
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.35fr 1.65fr;
    overflow: hidden;
    width: 100vw;
}

header{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    overflow: hidden;
    
}

header a{
    text-decoration: none;
}
nav{
    background-color:var(--primary-color);
    vertical-align: baseline;
    flex-flow: row;
    padding: 10px 0;
    font-size: 10rem;
}

.nav-bar-contact{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-border-color);
}

.nav-bar-right{
display: flex;
flex-direction: rows;
margin-right: 10px;
border-right: 1px solid var(--primary-border-color);
}



.nav-bar-tel, .nav-bar-url{
    padding: 5px 20px;
   border-left: 1px solid var(--primary-border-color);
   border-right: 1px solid var(--primary-border-color);
   
}

.nav-bar-soc-icons{
   padding: 0px 20px;
   vertical-align: middle;
}
.nav-bar-soc-icons i{
   padding: 0px 5px;
}


.nav-bar-main{
    padding: 25px  50px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 500;

}

.nav-bar-logo, .nav-bar-logo a, .nav-bar-logo i{
    font-size: 1.7rem;
    color: var(--secondary-color);
}

.nav-bar-main a{
    padding:  20px;
}

.nav-bar-menu{
    text-align: right;
    /* padding-top: 10px; */
}


.nav-bar-menu :nth-child(1){
    display: none;
}

section{
    background-image: var(--secondary-gradient);
    /* padding: 80px; */
    text-align: center;
}

.skill-section-title h1{
    font-size: 2.5rem ;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 100px;
    text-align: left;
    color: var(--primary-font-color);
    /* border-bottom: 1px solid var(--primary-border-color); */

}

.skill-section{
    /* margin: 10px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.skill-section-card{
    padding: 10px 30px;
}
.skill-image{
    font-size: 8rem;
    /* background-color: var(--primary-color); */
    /* width: 100px; */

}

.skill-image i{
    color: var(--secondary-font-color);
    /* background-color: var(--primary-color); */

}

.skill-name{
    font-size: 3rem;
}

.skill-rating i{
    font-size: 2rem;
    color: var(--secondary-font-color);
}

footer{
    /* border: none; */
    border-top: 1px solid var(--primary-border-color);
    /* border-radius: 1px; */
    padding: 10px;
    background-image:var(--secondary-gradient);
    text-align: right;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    *{
        margin: 0;
        padding: 0;
        /* width: 100vw; */
        /* height: 100vh; */
        box-sizing: border-box;
        overflow: scroll;
    }

    body{
        height: 100vh;
        display: grid;
        grid-template-rows: 0.25fr 1.65fr 0.1fr;
        overflow: hidden;
        width: 100vw;
    }
    
   
    .nav-bar-contact{
        padding: 0 5px;
        /* display: flex; */
        /* justify-content: space-between; */
        /* border-bottom: 1px solid var(--primary-border-color); */
    }
  
    .nav-bar-tel{
        padding: 5px 5px;
        /* border-left: 1px solid var(--primary-border-color); */
        /* border-right: 1px solid var(--primary-border-color); */
       
    }
    
    .nav-bar-soc-icons{
      display: none;
    }
    
    .nav-bar-main{
        padding: 5px  5px ;
        display: flex;
        justify-content: space-between;
        /* grid-template-columns: 1fr 1fr; */
        /* font-weight: 500; */
    
    }
      
    .nav-bar-main a{
        padding:  5px;
    }
    
    .nav-bar-menu{
        text-align: right;
        display: flex;
        flex-direction: column;
        /* padding-top: 10px; */
    }
    .nav-bar-menu i{
        font-size: 1.6rem;
        padding-right: 10px;
    }
    .nav-bar-menu :nth-child(1){
        display: initial;
    }
    .nav-bar-menu :nth-child(2), .nav-bar-menu :nth-child(3), .nav-bar-menu :nth-child(4), .nav-bar-menu :nth-child(5){
        display: none;
    }


    .skill-section-title h1{
        margin: 10px;
        font-size: 1.5rem ;
        padding-left: 10px ;
    }

    .skill-section{
        margin: 50px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        /* width: 100vw; */
        /* display: none; */
    }

    
    .skill-section-card{
        padding: 10px 30px;
    }
    .skill-image{
        font-size: 5rem;
        /* background-color: var(--primary-color); */
        /* width: 100px; */

    }

   

    .skill-name{
        font-size: 1.5rem;
    }

    .skill-rating i{
        font-size: 1rem;
    }

    footer{
        
        background-image:var(--primary-color);
       
    }


    
 }